{% load static %}
<!-- Cabeçalho (Header) -->
<header id="header" class="main-header">
    <nav class="sidebar">
        <div class="profile">
            <img src="{% static 'images/glitch-1.jpg' %}" alt="Profile Picture">
            <h2>Gabriel Romeiro</h2>
            <div class="social-links">
                <a href="https://github.com/BEROMEIRO" target="_blank" class="img-link">
                    <img src="{% static 'images/github.png' %}" alt="GitHub">
                </a>
                <a href="https://www.linkedin.com/in/gabriel-romeiro-3209b5230/" 
                    target="_blank" class="img-link">
                    <img src="{% static 'images/linkedin.png' %}" alt="LinkedIn">
                </a>
            </div>
        </div>
        <ul>
            <li><a href="#home">Home</a></li>
            <li><a href="#about">About</a></li>
            <li><a href="#portfolio">Portfolio</a></li>
            <li><a href="#services">Services</a></li>
            <li><a href="#contact">Contact</a></li>
        </ul>    
    </nav>
    
    <!-- Rodapé -->
    <footer id="footer">
        <div class="menu-footer">
            <div class="copyright">
                &copy; Copyright <strong><span>Gabriel Romeiro</span></strong>
            </div>
        </div>
    </footer>
    
</header>


