{% load static %}
<div class="projects" id="projects">

    <div class="project app">
        <a href="https://example.com/project1">
            <img src="{% static 'images/portfolio/portfolio-1.jpg' %}" alt="App Project 1">
            <p>App Project 1</p>
        </a>
    </div>
    <div class="project web">
        <a href="https://example.com/project2">
            <img src="{% static 'images/portfolio/portfolio-2.jpg' %}" alt="Web Project 1">
            <p>Web Project 1</p>
        </a>
    </div>
    <div class="project card">
        <a href="https://example.com/project3">
            <img src="{% static 'images/portfolio/portfolio-3.jpg' %}" alt="Card Project 1">
            <p>Card Project 1</p>
        </a>
    </div>
    <div class="project app">
        <a href="https://example.com/project4">
            <img src="{% static 'images/portfolio/portfolio-4.jpg' %}" alt="App Project 2">
            <p>App Project 2</p>
        </a>
    </div>
    <div class="project web">
        <a href="https://example.com/project5">
            <img src="{% static 'images/portfolio/portfolio-5.jpg' %}" alt="Web Project 2">
            <p>Web Project 2</p>
        </a>
    </div>
    <div class="project card">
        <a href="https://example.com/project6">
            <img src="{% static 'images/portfolio/portfolio-6.jpg' %}" alt="Card Project 2">
            <p>Card Project 2</p>
        </a>
    </div>
    
</div>
