
{% load static %}
{% block title %}{% endblock %}

{% block content %}
<!-- Services Section -->
<section id="services" class="service_main">
    <div class="service_tittle">
        <h2>Services</h2>
    </div>
    <div class="service-container">
        <div class="service">
            <h3>Web Development</h3>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
        </div>
        <div class="service">
            <h3>App Development</h3>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
        </div>
        <div class="service">
            <h3>UI/UX Design</h3>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
        </div>
    </div>
    <!-- Adicione mais serviços conforme necessário -->
</section>
{% endblock %}