
{% load static %}
{% block title %}{% endblock %}

{% block content %}
<!-- Services Section -->
<section id="services" class="service_main">
    <div class="service_tittle">
        <h2>Services</h2>
    </div>
    <div class="service-container">
        <div class="service">
            <h3>Web Development</h3>
            <p>Criação de websites responsivos, com design moderno e funcional.</p>
        </div>
        <div class="service">
            <h3>App Development</h3>
            <p>Desenvolvimento de aplicativos para Android e iOS, focando na experiência do usuário.</p>
        </div>
        <div class="service">
            <h3>UI/UX Design</h3>
            <p>Design de interfaces e experiência de usuário com foco na usabilidade e estética.</p>
        </div>
    </div>
    <!-- Adicione mais serviços conforme necessário -->
</section>
{% endblock %}